@media (max-width:1200px){
    .sidebar{
        background-color: white;
        position: fixed;
        bottom: 0px;
        left: 0px;
        top: 55px;
        width: 72px;
        padding-top: 5px;
        z-index: 200;
    }
    
    .sidebar-link{
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }
    
    .sidebar-link:hover{
        background-color: rgb(235, 235, 235);
    }
    
    .sidebar-link img{
        width: 24px;
        margin-bottom: 6px;   
    }
    
    .sidebar-link div{
    
        color: black;
        font-size: 10px;
    }   
}

@media (min-width: 1201px){
    .sidebar{
        background-color: white;
        position: fixed;
        bottom: 0px;
        left: 0px;
        top: 55px;
        width: 240px;
        padding-top: 13px;
        z-index: 200;   
    }
    .sidebar-link{
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        column-gap: 24px;
        padding: 8px 24px;
    }
    .sidebar-link:hover{
        background-color: rgb(235, 235, 235);
    }
    
    .sidebar-link img{
        height: 24px; 
    }
    
    .sidebar-link div{
        color: black;
        font-size: 14px;
    }  
}